
CACCore/memory2.txt
CACCore/@ARM.txt
CACCore/@Blastcore.txt
CACCore/@JSRS_SOUNDMOD.txt
CACCore/@ShackTacUI.txt
CACCore/@VanillaSmokeForBlastcore.txt
CACCore/@DUI.txt
CACCore/username.txt
CACCore/logo.txt
CACCore/password.txt
CACCore/moddir.txt
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/CAC/project-colors.json
.vs/CAC/v17/.suo
.vs/VSWorkspaceState.json
.vs/CAC/FileContentIndex/62954f92-29f0-4a8e-a761-3776b72ad29c.vsidx
.vs/CAC/FileContentIndex/ab9e96f3-aad2-44b1-a44f-008983b40e72.vsidx
.vs/CAC/FileContentIndex/read.lock
CACCore/modcheck.bat
